@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    color: #6C6C6C;
    font-size: 16px;
    ;
}

/*---------------------
Header Section Styles 
-----------------------*/
.page-header{
    display: flex;
    width: 100%;
    background-color: #2d25a0;
    Height :677px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.page-title{
    width: 485px;
    height: 230px;
    margin-right: 100px;
   
}
.page-title h1{
    font-size: 64px;
    margin-bottom: 28px;
}
.banner{
    width: 556px;
    height: 438px;
}
.banner img{
    width: 100%;
}
.link-button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color:#E02C6D;
    padding: 12px 30px;
    margin-top: 27px;
    
}

.fas{
    transform: scale(1.2,1);
    margin-left: 5px;
    width: 16px;
    height: 14px;
}
.page-header:hover img {
    transform: scale(1.1) rotate(120deg) skew(-10deg);
    transition: transform 1s ease-in-out;
}
/* Players Style  */
.all-players{
    display: flex;
    justify-content: center;
}
.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
   
}
.player{
    padding: 15px 15px 15px 15px;
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%;
    
}
.player h1 {
   font-size: 28px;
}

/* highlights styles */
.highlights{
    display: flex;
    margin-top:165px;
    justify-content: center;
    align-items: center;
}
.highlights-image{
    width: 667px;
    height: 500px;
}
.highlights-info{
    width: 500px;
    height: 309px;
    padding-right: 69px;
}
.highlights h1{
    font-size: 48px;
    margin: 0px;
}
.highlights img{
    width: 100%;
   height: 100%;
}
.highlights p{
    margin-bottom: 50px;
}
/* Tables section  */

.table-a , .table-b{
    border-collapse:collapse;
    font-size: 1.2em;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-left: 600px;
    margin-bottom: 100px;
    margin-top: 100px;
    

}
table th{
    background-color: rgba(167, 45, 255, 0.664);
}
.active-row{
    background-color: rgba(170, 170, 170, 0.479);
    font-size: 1.3em;
    
}
caption{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

td{
    padding: 30px;
}


/* footer style  */
.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:600px;
    
}
.newsletter h1{
    font-size: 40px;
}
.email-area{
    max-width: 650px;
    width: 100%;
    margin-right: 50px;
    
}
.email-area input{
width: 100%;
padding: 30px 50px 30px 30px;
border-radius: 5px;
border: 1px solid grey;
margin-bottom: 30px;

}


.footer-sec{
    display: flex;
    flex-direction: column;
    margin-top: 158px;
    align-items: center;
    margin-bottom: 63px;
}
.footer-sec img{
    width: 483px;
    height: 110px;
}
.icons .fab, .fa-basketball-ball{
    width: 32px;
    height: 32px;
    color: slategray;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#copyright{
    
    font-size: 18px;
    font-weight: 400px;
}
/* Media Query */
/* Android Devices */

@media only screen and (max-width:688px) {
    body{
        width: 688px;
        width: 100%;
        overflow-x: hidden;
        
    }
    main{
        overflow-x: hidden;
        width: 100%

    }
    .page-title{
        
        margin-right: 16px;
        margin-left: 16px;
    }
    .page-header{
        
        height: 695px;
        width: 375px;
    }
    .page-title h1{
        font-size: 36px;
        margin-bottom: 28px;
    }
    .banner{
        width: 329px;
        height: 259.17px;
        margin-top: 50px;
        margin: 60px 25px 20px 16px;
    }
   
    
    /* players  */
    .players{
        margin-left: 16px;
        margin-right: 14px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 24px;
        grid-column-gap: 30px;
       
    }
    /* highlights */
    .highlights{
        display: flex;
        flex-direction: column;
    }
    .highlights-info{
        width: 329px;
        height: 231px;
        margin-left: 56px;
        margin-bottom: 100px;
    }
    .highlights h1{
        font-size: 30px;
        margin: 0px;
    }
    .highlights-image{
        width: 350px;
        height: 250px;
        margin: 59px 5px 30px 5px;
    }
    /* table  */
    .table-a , .table-b{
        border-collapse:collapse;
        font-size: .5em;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        margin-left: 12%;     
        margin-bottom: .5%;
        margin-top: 100px;
        
    
    }

    td{
        padding: 13px;
    }
    /* Newsletter  */
    .newsletter{
        display: flex;
        flex-direction: column;
        margin-left: .16%;
        margin-right: 0.8%;
        text-align: center;
        align-items: center;
    }
    .email-area{
        max-width: 250px;
        width: 80%;
       
        text-align: center;
        
    }
    .email-area input{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
        margin-bottom: 30px;
        text-align: center;
        
        }
        .email-area .link-button{
            margin-left: 25px;
            
        }
    /* footer  */
    .footer-sec{
        
        margin-bottom: 183px;
    }
    .footer-sec img{
        width: 271px;
        height: 63px;
    }
    .icons .fab, .fa-basketball-ball{
        width: 32px;
        height: 32px;
        color: slategray;
        margin-top: 50px;
        margin-bottom: 20px;
        
    }
    .tabels, .all-players, .page-header{
        width: 100%;
    }

}
@media only screen and (max-width: 1440px) and (min-width:1080px}
{

    .table-a, .table-b{
        margin-left: 400px;
    }
    .newsletter{
        margin-left: 50px;
        align-items: center;
        text-align: center;
    }
        .email-area .link-button{
            margin-left: 35px;
            
        }
    }
